@use './basic.l';
@use './mixins/button';
@use '../variables' as globals;
@use '../colors';
@use '../fonts';

a {
  color: colors.$background-color;
  text-decoration: none;
}

p {
  color: colors.$foreground-color;
  margin: 2rem 0;
}

h1 {
  line-height: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

li {
  list-style: none;
}

button {
  font-family: fonts.$font-family;
  font-size: 1.1rem;
  border-radius: globals.$border-radius;
  padding: 1rem;
  box-shadow: globals.$box-shadow;
  cursor: pointer;
}

.button.primary {
  @include button.colored(colors.$primary-color, colors.$background-color, colors.$primary-color);
}

.button.clearGrey {
  @include button.colored(colors.$clear-grey-color, black, colors.$clear-grey-color);
}

.button.danger {
  @include button.colored(colors.$danger-color, colors.$background-color, colors.$danger-color);
}

.button.primary:hover {
  @include button.colored(colors.$background-color, colors.$primary-color, colors.$primary-color);
}

.button.clearGrey:hover {
  @include button.colored(colors.$background-color, colors.$secondary-color, colors.$secondary-color);
}

.button.danger:hover {
  @include button.colored(colors.$background-color, colors.$danger-color, colors.$danger-color);
}