@media screen and (width >= 48em) {
  main .section--contact {
    padding: 10vw 32vw;

    .contact__form {
      flex-direction: row;
    }

    h2 {
      width: 91%;
    }
  }

  .button.danger {
    margin: auto;
  }

  .button {
    margin: auto;
    margin-top: 0;
  }
  .email__feedback {
    margin-right: 15px;
  }
}