@media screen and (width >= 48em) {
  .section--contact .contact__form {
    flex-direction: row;
  }

  .email__feedback {
    margin-right: 15px;
  }

  .section--contact button.danger {
    margin: auto;
  }

  .section--contact .button {
    margin: auto;
  }
}