@use '../colors';

.section--faq {
  text-align: center;
  margin: 0 auto 25vw auto;
  max-width: 80vw;
}

.section--faq button {
  margin-top: 5vw;
}

details {
  border-bottom: 1px solid colors.$terciary-color;
}

details:first-of-type {
  border-top: 1px solid colors.$terciary-color;
}

details img {
  transform: rotateZ(0deg);
  transition-duration: 0.3s;
}

details[open] img {
  transform: rotateZ(180deg);
  filter: invert(10%) sepia(80%) saturate(200%) hue-rotate(-10deg) brightness(110%) contrast(110%);
}

details h2 {
  margin: 1.3rem 0;
}

details p {
  text-align: left;
}

summary {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  gap: 20px;
  text-align: left;
}

summary:hover {
  color: colors.$danger-color;
}

summary img {
  width: 18px;
  height: 12px;
  margin: auto 0;
}