
@media screen and (width >= 48em) {
  footer .navBar__footer ul {
    flex-direction: row;
    margin: 0 45px;
    padding: 0;
  }

  footer .navBar__footer li {
    width: auto;
  }

  footer .navBar__footer li:last-of-type {
    margin-right: 0;
    margin-left: auto;
  }
}