@use './header.l';
@use './mixins/button';
@use '../variables' as globals;
@use '../colors';

header {
  background-color: colors.$secondary-color;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 10% 25% 40%;
  grid-template-rows: 120px auto;

  &.closed {
    background-color: colors.$background-color;
    height: 120px;
  }

  &.closed ul {
    display: none;
  }

  h1 {
    line-height: 1rem;
  }

  ul {
    margin: 0 auto;
    padding: 0 2rem;
  }

  li {
    border-top: 1px solid #4c526c;
    color: colors.$background-color;
    padding: 20px 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1rem;
  }

  button {
    @include button.colored(#313653, colors.$background-color, colors.$background-color);
    border-radius: globals.$border-radius;
    padding: 15px;
    width: 16rem;
    
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
  }
}

#navBar {
  grid-row: 2 / 2;
  grid-column: 1 / 5;
}

.logo {
  grid-column: 1/2;
  margin: 45px auto 45px globals.$main-left-margin;
  content: url(../../img/logo-bookmark.svg);
  filter: invert(91%) sepia(92%) saturate(2%) hue-rotate(100deg) brightness(107%) contrast(99%);
}

.burguerMenu__icon {
  grid-column: 4/4;
  margin: 50px 45px 45px auto;
  max-height: 15px;
  content: url(../../img/icon-close.svg);
  cursor: pointer;
}

.closed {
  .logo {
    filter: none;
  }

  .burguerMenu__icon {
    content: url(../../img/icon-hamburger.svg);
  }

  ul {
    display: none;
  }
}

.social__row {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0;

  img {
    margin: 15px;
  }
}


