@import './contactMediaquery.css';

.section--contact {
  width: 100vw;
  margin: 0 auto;
  padding: 10vw 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.section--contact button {
  padding: 10px;
  margin-top: 15px;
}

.section--contact button:hover {
  background-color: var(--background-color);
  border: 3px solid var(--danger-color);
  color: var(--danger-color);
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contact__form input {
  border: none;
  border-radius: 5px;
  width: 50vw;
  padding: 10px;
  background-image: none;
}

.contact__form input:valid { 
  background-image: none;
}

.contact__form input:invalid {
  background-image: url(../img/icon-error.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right;
}

.email__feedback {
  background-color: var(--danger-color);
  border-radius: 5px;
}

.email__feedback.valid {
  display: block;
  background-color: inherit;
}

.email__feedback.valid .email--invalid{
  display: none;
}

.email--invalid {
  font-size: 0.7em;
  font-style: italic;
  text-align: left;
  margin: 2px;
}

.email:focus {
  border: none;
}
