@media screen and (width >= 48em) {
  .section--extensions .extensions__text {
    margin: 0 20vw 5vh 20vw;
  }
  .section--extensions .card__container {
    flex-direction: row;
    height: 55vh;
  }

  .card--center {
    align-self: center;
  }

  .card--end {
    align-self: end;
  }


}