@import 'tailwindcss';
@import './base';
@import './components';

:root, :host {
  --filter-logo: invert(91%) sepia(92%) saturate(2%) hue-rotate(100deg) brightness(107%) contrast(99%);
  --filter-arrow: invert(10%) sepia(80%) saturate(200%) hue-rotate(-10deg) brightness(110%) contrast(110%);
  --border-radius: 0.5rem;
  --box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  --main-left-margin: 10vw;
  --main-right-margin: 10vw;
  --font-size: 16px;
  --line-height: 32px;
}

@theme {
  --font-rubik: Rubik, Arial, Helvetica, sans-serif;
  --color-primary: #5365e2;
  --color-secondary: #313653;
  --color-terciary: #ccc;
  --color-clear-grey: #f7f7f7;
  --color-danger: #fc5959;
  --color-background: #fff;
  --color-foreground: #888;
}
